[Desktop Entry]
Type=Application
Version=0.1
Name=XiZero
GenericName=Game
Comment=3D Shoot'em Up
Icon=xizero.xpm
Exec=xizero
Path=~/.xizero
Terminal=Yes
Categories=Game
Keywords=3D;Vertical;Scroller

Dependencies=
Homepage=http://atcrosslevel.de