GLUT_ICON ICON "16 16 3 1 \n\
# c #000000 \n\
+ c #FF0000 \n\
. c #808080 \n\
\n\
.....######.....\n\
...##++++++##...\n\
..#++######++#..\n\
.#+##.++++.##+#.\n\
.#+#..+##+..#+#.\n\
#+#...+##+...#+#\n\
#+#++++##++++#+#\n\
#+#+########+#+#\n\
#+#+########+#+#\n\
#+#++++##++++#+#\n\
#+#...+##+...#+#\n\
.#+#..+##+..#+#.\n\
.#+##.++++.##+#.\n\
..#++######++#..\n\
...##++++++##...\n\
.....######....."

